<section class="newsletter relative wrapper border-l-primary-glare! border-r-white/10! overflow-clip pb-lg bg-primary-glare bg-linear-90 from-transparent to-white/10 text-light-glare grid md:grid-cols-2 gap-lg {{ if {page_sections | pluck:type | last} == 'our_history' }} pt-[calc(var(--size-lg)*2)] {{ else }}pt-lg{{ /if }}">
    <div class="relative z-10">
        {{ partial:components/section_heading :section_headline="site_settings.newsletter_section_headline" }}
        <hr class=" border-x-none border-y border-t-dark-shade/15 border-b-light-glare/15 my-600">
        <ul class="space-y-100 font-semibold mt-gutter ">
            {{ site_settings.newsletter_benefits_list }}
            <li class="flex items-center gap-1em text-xs ">
                <span class="size-[2em] shrink-0 outline outline-offset-2 outline-current/30 rounded-full bg-light-glare/60 flex justify-center items-center">{{ svg src="checkmark" class="text-primary-glare h-08em w-auto translate-[.05em]" width="auto" height="auto" aria-hidden="true" }}</span><span class="max-w-[40ch] text-pretty">{{ value }}</span>
            </li>
            {{ /site_settings.newsletter_benefits_list }}
        </ul>
    </div>
    <div class="relative z-10">
        {{ form:create in="newsletter" class="grid grid-cols-12 gap-200" redirect="" }}
            {{ if (form:errors) }}
                <p>Der var desværre noget der gik forkert:</p>
                <ul>
                    {{ form:errors }}
                        <li>{{ value }}vsdf</li>
                    {{ /form:errors }}
                </ul>
            {{ /if }}
            {{ fields }}
                <div class="col-span-12 {{ width == '25' ?= 'md:col-span-3' }}{{ width == '33' ?= 'md:col-span-4' }}{{ width == '50' ?= 'md:col-span-6' }}{{ width == '66' ?= 'md:col-span-8' }}{{ width == '75' ?= 'md:col-span-9' }}{{ width == '100' ?= 'md:col-span-12' }}">
                    <label class="leading-none">
                        {{ display }} 
                        {{ if validate | contains:required }}
                            <sup class="text-[1em] -top-[.2em]">*</sup>
                        {{ /if }}
                    </label>
                    <div class="py-1 w-full">{{ field }}</div>
                    {{ if error }}
                        <p class="text-gray-500">{{ error }}</p>
                    {{ /if }}
                </div>
            {{ /fields }}
            <div class="col-span-12">
                <button class="btn bg-dark w-full hover:bg-light-glare hover:text-dark-shade" type="submit">Tilmeld nyhedsbrev her</button>
            </div>
            <div class="col-span-12 text-xs prose-p:text-current/60 prose-a:text-light-glare prose-a:underline prose-a:underline-offset-4">
                <p>Når du sender formularen, accepterer du samtidig vores <a href="/">privatlivspolitik.</a> Du kan altid tilbagekalde din accept.</p>
            </div>
            <input type="text" name="adresse" class="hidden" />
        {{ /form:create }}
    </div>
    {{ svg src="logo-icon" class=" absolute top-[-120%] right-[-15%] h-[220%] w-auto scale-x-[-1] rotate-12 text-dark-shade/3" }}
</section>