<div class="aside-form bg-primary-glare text-light-glare p-600 rounded-xs flow-y">
    <h3 class="h5">Kontakt os*</h3>
    <p class="text-xs opacity-70">Har du spørgsmål til akademiet? Skriv til os, så vender vi tilbage hurtigst muligt.*</p>
    {{ form:create in="contact" class="grid grid-cols-12 gap-200" redirect="" }}
        {{ if (form:errors) }}
            <p>Der var desværre noget der gik forkert:</p>
            <ul>
                {{ form:errors }}
                    <li>{{ value }}</li>
                {{ /form:errors }}
            </ul>
        {{ /if }}
        {{ fields }}
            <div class="col-span-12 [&_input[type=text],input[type=email],select,textarea]:rounded-xs [&_input[type=text],input[type=email],select,textarea]:border [&_input[type=text],input[type=email],select,textarea]:border-light-glare/20 [&_input[type=text],input[type=email],select,textarea]:px-1em [&_input[type=text],input[type=email],select,textarea]:py-08em text-xs [&_select:has(option:first-child:checked)]:opacity-70 [&_select]:appearance-none [&_select]:pr-10 [&_textarea]:min-h-[6rem] [&_textarea]:resize-y {{ width == '25' ?= 'md:col-span-3' }}{{ width == '33' ?= 'md:col-span-4' }}{{ width == '50' ?= 'md:col-span-6' }}{{ width == '66' ?= 'md:col-span-8' }}{{ width == '75' ?= 'md:col-span-9' }}{{ width == '100' ?= 'md:col-span-12' }}">
                <label class="leading-none flex flex-col space-y-2">
                    <span class=" font-heading font-bold">
                        {{ display }} 
                        {{ if validate | contains:required }}
                            <sup class="text-[1em] -top-[.2em]">*</sup>
                        {{ /if }}
                    </span>
                    {{ field }}
                </label>
                {{ if error }}
                    <p class="text-gray-500">{{ error }}</p>
                {{ /if }}
            </div>
        {{ /fields }}
        <div class="col-span-12">
            <button class="btn bg-dark text-light-glare w-full" type="submit">Kontakt os</button>
        </div>
        <input type="text" name="adresse" class="hidden" tabindex="-1" autocomplete="off" />
    {{ /form:create }}
</div>
